@page "/"

<PageTitle>F1Data</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1>F1Data</h1>
            <p class="h5 my-5">Welcome to <a href="https://www.gluonspace.com/" target="_blank">gluon's</a> F1 app!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h3>How to use:</h3>
            <ul class="h5 mb-5 list-unstyled text-secondary">
                <li>The menu is on the left/top</li>
                <li>Click on a specific section</li>
                <li>Use the controls at the top</li>
                <li>Data according to selection </li>
            </ul>
        </div>
        <div class="col-sm">
            <h3>This app provides:</h3>
            <ul class="h5 mb-5 list-unstyled text-secondary">
                <li>A great amount of F1 stats</li>
                <li>A simple and clean interface</li>
                <li>A desktop friendly interface</li>
                <li>A mobile friendly interface</li>
            </ul>
        </div>
        <div class="col-sm">
            <h3>This app promises:</h3>
            <ul class="h5 mb-5 list-unstyled text-secondary">
                <li>To use free f1 data sources</li>
                <li>To always remain free to use</li>
                <li>To never store personal data</li>
                <li>To improve whenever possible</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <p class="h5 mb-5">The goal is to provide a simple and clean, yet comprehensive, interface to all sorts of Formula 1 data for the current and previous seasons. To use it, navigate through the different sections on the menu and then filter the data using the controls at the top of each page. The layout was carefully created so that the displayed data, mostly tabular data, renders nicely both on desktop and mobile platforms. Further, it should be possible to read all the data easily in portrait mode, without flipping your device into landscape mode.</p>
            <p class="h5 mb-5">No personal data in the form of cookies or otherwise is stored. No F1 data is stored, everything that is displayed is generated dynamically making use of online resources like the amazing <a href="http://ergast.com/mrd/" target="_blank">Ergast API</a> which powers so many other F1 related apps out there. A big kudos to the developer of this API. The F1Data app is hosted on a Linux server and is developed using <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor" target="_blank">Blazor</a>, a free and open-source web framework from Microsoft that enables developers to create web apps using C# and HTML, leveraging web assemly, the future of the web.</p>
        </div>
    </div>
    <div class="row">
        <h4 class="my-5">Developed with:</h4>
    </div>
    <div class="row">
        <div class="col-sm d-flex justify-content-center"><a title="dotnet, CC0, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Blazor.png"><img width="64" alt="Blazor" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Blazor.png/64px-Blazor.png"></a></div>
        <div class="col-sm d-flex justify-content-center"><a title="Jason Groce, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:.NET_Core_Logo.svg"><img width="64" alt=".NET Core Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/.NET_Core_Logo.svg/64px-.NET_Core_Logo.svg.png"></a></div>
        <div class="col-sm d-flex justify-content-center"><a title="Jason Groce, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:C_Sharp_wordmark.svg"><img width="64" alt="C Sharp wordmark" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/C_Sharp_wordmark.svg/64px-C_Sharp_wordmark.svg.png"></a></div>
        <div class="col-sm d-flex justify-content-center"><a title="Debian, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Debian_logo.png"><img width="64" alt="Debian logo" src="https://upload.wikimedia.org/wikipedia/commons/0/04/Debian_logo.png"></a></div>
    </div>
</div>