<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">F1Data</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="qualifyingresults">
                <span class="oi oi-timer" aria-hidden="true"></span> Qualifying Results
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="qualifyingrankings">
                <span class="oi oi-list" aria-hidden="true"></span> Qualifying Rankings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="raceresults">
                <span class="oi oi-clock" aria-hidden="true"></span> Race Results
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="driverstandings">
                <span class="oi oi-list" aria-hidden="true"></span> Driver Standings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="constructorstandings">
                <span class="oi oi-list" aria-hidden="true"></span> Constructor Standings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="circuits">
                <span class="oi oi-infinity" aria-hidden="true"></span> Racing Circuits
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="drivers">
                <span class="oi oi-people" aria-hidden="true"></span> Racing Drivers
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
